<!DOCTYPE html>
<html>
<head>
    <title>
        Emanuel Hark Maciel - Analysis
    </title>
    <meta charset="utf-8">
    <meta name="author" content="<!--rinline cat('Emanuel Hark Maciel') -->">
    <meta name='description' content="<!--rinline cat('This Site contains Emanuel Hark Maciel analysis, essays, thoughts, etc.') -->">
    <link rel='stylesheet' href='../../css/normalize.css'>
    <link rel='stylesheet' href='../../css/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='../../js/language.js'></script>
    <script src="https://kit.fontawesome.com/d7d04966f2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link rel="apple-touch-icon" sizes="57x57" href="../../img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon-16x16.png">
<link rel="manifest" href="../../img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../../img/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff"> 
</head>

<body>
<header id='header'>
           <nav class='top-nav navbar'>
                <span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                </span>
                <a class='header-logo logo' >
                    <img src='../../img/logo.png'>
                </a>
                <ul class='main-nav' id="js-menu">
                    <li>
                        <a class='lang nav-links' href='../../index.html' key='about'>About Me</a>
                    </li>
                    <li>
                        <a class='lang nav-links' href='../analysis/analysis.html' key='analysis'>Analysis</a>
                    </li>
                    <li>
                        <a class='lang nav-links' href='../thoughts/thoughts.html' key='thought'>Thoughts</a>
                    </li>
                    <li >
                        <a class='lang nav-links' href='../study/study.html' key='study'>Studies</a>
                    </li>
                    <li >
                       <a class='lang nav-links' href='../works/works.html' key='works'> Works</a>
                    </li>
                    <li>
                        <select class='translated nav-links'>
                            <option value='en' selected> English </option>
                            <option value='pt'> Português</option>
                        </select>
                    </li>
                </ul>
                <ul class='main-nav' id="js-menu-web">
                    <li>
                        <a class='lang nav-links' href='../../index.html' key='about'>About Me</a>
                    </li>
                    <li>
                        <a class='lang nav-links' href='../analysis/analysis.html' key='analysis'>Analysis</a>
                    </li>
                    <li>
                        <a class='lang nav-links' href='../thoughts/thoughts.html' key='thought'>Thoughts</a>
                    </li>
                    <li >
                        <a class='lang nav-links' href='../study/study.html' key='study'>Studies</a>
                    </li>
                    <li >
                       <a class='lang nav-links' href='../works/works.html' key='works'> Works</a>
                    </li>
                    <li>
                        <select class='translated nav-links'>
                            <option value='en' selected> English </option>
                            <option value='pt'> Português</option>
                        </select>
                    </li>
                </ul>
            
        </nav> 
        
    </header>
<main>
<!--begin.rcode include=FALSE,warning=FALSE
end.rcode-->
<h1 class='lang section-title' key='analysis-title-01'>
XXX
</h1>
<h2 class='lang section-about' key='analysis-subtitle-01'>
YYY.
</h2>
<h2 class='lang section-about' key='analysis-date-01'>
11/14/2021
</h2>
<div class='img-analysis'>
  <img src='../../img/NBA-LIillard.jpg'> </img>
</div>
<p class='lang section-text' key='analysis-text-01-01'>
XXX
</p>
<p class='lang section-text' key='analysis-text-01-00'>
For this analysis, the R language was used with the packages:
</p>
<ul>
  <li class='lang' key='analysis-packages-01'> NbaStatR: NBA Stats API Wrapper</li>
  <li class='lang' key='analysis-packages-02'> Tidyr: Tidy Data</li>
  <li class='lang' key='analysis-packages-03'> Dplyr: Data manipulation to extract results</li>
  <li class='lang' key='analysis-packages-04'> Ggplot2: Elaboration of statistical graphics</li>
  <li class='lang' key='analysis-packages-05'> Grid: Assistance in the preparation of statistical graphics</li>
  <li class='lang' key='analysis-packages-06'> knitr: Engine for dynamic report generation  </li>
  <li class='lang' key='analysis-packages-07'> kableExtra: Create complex HTML tables and manipulate table styles  </li>
</ul>
<p class='lang section-text' key='analysis-text-01-02'>
XXX.
</p>

<!--begin.rcode echo=FALSE,warning=FALSE,include=FALSE

end.rcode-->

<!--begin.rcode echo=FALSE,warning=FALSE,include=FALSE

end.rcode-->
<div class='lang eng-table '>
<!--begin.rcode echo=FALSE,warning=FALSE
  
end.rcode-->
</div>

<div class='lang pt-table' style='display:none'>
<!--begin.rcode echo=FALSE,warning=FALSE
 
end.rcode-->
</div>
<p class='lang section-text' key='analysis-text-01-03'>
XXX.
</p>
<p class = 'lang section-text' key='analysis-text-01-04'>
XXX.
</p>
<div class='grid'>
 <div class='lang eng-image'>
<!--begin.rcode echo=FALSE,warning=FALSE,results='hide',fig.keep='all'

end.rcode-->
</div>

<div class='lang pt-image' style='display:none'>
<!--begin.rcode echo=FALSE,warning=FALSE,results='hide',fig.keep='all'

end.rcode-->
</div>
<p class = 'lang section-text' key='analysis-text-01-05'>
XXX.
</p>
<p class = 'lang section-text' key='analysis-text-01-06'>
XXX.
</p>
</div>

<div class='lang eng-table'>
<!--begin.rcode echo=FALSE,warning=FALSE,include=FALSE

end.rcode-->

<!--begin.rcode echo=FALSE,warning=FALSE
 
end.rcode-->
</div>
<div class='lang pt-table' style='display:none'>
<!--begin.rcode echo=FALSE,warning=FALSE

end.rcode-->
</div>
<p class = 'lang section-text' key='analysis-text-01-07'>
XXX.
</p>
<p class = 'lang section-text' key='analysis-text-01-08'>
XXX.
</p>
<div class='lang eng-table'>

<!--begin.rcode echo=FALSE,warning=FALSE
 
end.rcode-->
</div>

<div class='lang pt-table' style='display:none'>
<!--begin.rcode echo=FALSE,warning=FALSE

end.rcode-->
</div>
<p class = 'lang section-text' key='analysis-text-01-09'>
XXX.
</p>
<h3 class='lang section-about' key='analysis-outro-01'>
Conclusion
</h3>
<p class = 'lang section-text' key='analysis-text-01-10'>
XXX.
</p>
<p class = 'lang section-text' key='analysis-text-01-11'>
Image - NBA.
</p>
</main>
    <footer class='footer'>
        <ul class='footer-center'>
            <li class='footer-logo'>
                <a href='https://www.linkedin.com/in/emanuel-hark-maciel-424348186/'>
                    <i class="fab fa-linkedin footer-logo"></i>
                </a>
            </li>
            <li class='footer-logo'>
                <a href='https://github.com/EmanuelHark12'>
                    <i class="fab fa-github footer-logo"></i>
                </a>
                
            </li>
        </ul>
    </footer> 
</body>
</html>